@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
// Set your brand colors
$orange: #d77a61;
$pink: #d8b4a0;
$gray: #dbd3d8;
$white: #eff1f3; 
$indigo: #223843; 
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: 'Josefin Sans', sans-serif;;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $orange;
$info: $indigo;
$danger: $white; 

$link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $gray; 
// $control-border-width: 2px;
$input-border-color: transparent;
// $input-shadow: none;

@import '../../node_modules/bulma/bulma.sass'