.LensButton {
  font-size: 16px;

  border: 1px solid white;


  display: flex;
  justify-content: center;
  padding: 0.5em 1.5em;
/*  font-size: 1.1em;*/
  background: #249478;
  color: white;
  border-radius: 2em;

  cursor: pointer;

  width: 10em;
  margin: 0 auto;
  
  margin-bottom: 1em;
}
.LensButton_sleave {

  display: block;
  position: relative;
  padding: 0 1.5em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}