

footer li {
    margin-left: .5rem; 
}


.cta {
    justify-content: center;
}

.cta p {
    flex: 1 1 auto;
}

.cta div {
    flex: 1 0 auto;
    padding: 0 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    text-align: left;
    flex: 1 1 auto;
    width: 100%;
    max-width: 30em;
}
.field input {
    display: block;
    border: 1px solid #223843;
    border-radius: 5px;
    font-size: 1.25em;
    padding: 0.25em;
    width: 100%;
}


.login-username, .login-password {
    display: inline;
    border: 1px solid #223843;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.25em;
    margin: 0.75em 0.25em;
}